{% comment %}
Exactly the same as 1, but with class mpb-30 instead of mpb-15 on the first <td> of the second <table>.
{% endcomment %}

<!-- START Article - Background-image and text 2 -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td background="{{article_bg_image_url}}" style="background: #956da9 url({{article_bg_image_url}}) center top / cover; -webkit-background-size: cover; background-size: cover; background-position: center top;" bgcolor="#956da9" height="236">
      <!--[if gte mso 9]>
      <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:490px;height:236px;">
      <v:fill type="frame" src="{{article_bg_image_url}}" color="#956da9" />
      <v:textbox inset="0,0,0,0">
      <![endif]-->
      <div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="mw-15" width="60">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="m-hide">
                <tr>
                  <td class="img" style="padding: 118px 0 117px; font-size:0pt; line-height:0pt; text-align:left;">&nbsp;</td>
                </tr>
              </table>
                        </td>
            <td>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="title-30 lh-36 a-center c-white mfz-26 mlh-32 pt-45 pb-10" style="font-size:30px; font-family:Averta, 'Trebuchet MS', Arial, sans-serif; min-width:auto !important; line-height: 36px; text-align:center; color:#ffffff; padding-top: 45px; padding-bottom: 10px;">
                    <strong>{{article_top_header}}</strong>
                  </td>
                </tr>
              </table>
            </td>
            <td class="mw-15" width="60"></td>
          </tr>
        </table>
      </div>
      <!--[if gte mso 9]>
      </v:textbox>
      </v:rect>
      <![endif]-->
    </td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#6a1093">
  <tr>
    <td class="pt-30 pb-20 px-20 mpt-20 mpx-15 mpb-30" style="padding-top: 30px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="text-19 lh-26 c-white l-white a-center mfz-16 mlh-23 fw-700 pb-25 mpb-15" style="font-size:19px; font-family:Averta, 'Trebuchet MS', Arial, sans-serif; min-width:auto !important; line-height: 26px; color:#ffffff; text-align:center; font-weight: 700; padding-bottom: 25px;">
            <span class="fw-900" style="font-weight: 900;">
              {{article_bottom_header}}
            </span>
          </td>
        </tr>
        <tr>
          <td class="text-19 lh-26 c-white l-white a-center mfz-16 mlh-23 pb-25 mpb-15" style="font-size:19px; font-family:Averta, 'Trebuchet MS', Arial, sans-serif; min-width:auto !important; line-height: 26px; color:#ffffff; text-align:center; padding-bottom: 25px;">
            <span class="fw-600" style="font-weight: 600;">
              {{article_bottom_body}}
            </span>
          </td>
        </tr>
        <tr>
          <td class="pb-25 mpb-15" align="center" style="padding-bottom: 25px;">
            <!-- Button -->
            <table width="204" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="btn-16 c-purple l-purple" bgcolor="#ffffff" style="font-size:14px; line-height:18px; mso-padding-alt:13px 10px; border-radius:50px; font-family:Averta, 'Trebuchet MS', Arial, sans-serif; text-align:center; min-width:auto !important; color:#6a1093;">
                  <strong>
                    <a href="{{article_bottom_cta_url}}" target="_blank" class="link c-purple" style="display: block; padding: 13px 10px; text-decoration:none; color:#6a1093;">
                      <span class="link c-purple fw-600" style="text-decoration:none; color:#6a1093; font-weight: 600;">
                        {{article_bottom_cta_text}}
                      </span>
                    </a>
                  </strong>
                </td>
              </tr>
            </table>
            <!-- END Button -->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END Article - Background-image and text 2 -->