<!-- START wb-tx-email-2_i-image-row-half -->

				<!-- Buttons -->
				<tr>
					<td align="center" class="mpb-50" style="padding-bottom: 0;">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="center" style="padding-left: 0; padding-right: 0;">
									<table border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="mw-120" width="163">
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td class="img mw-120-i" style="font-size:0pt; line-height:0pt; text-align:left;">
															{% if row_link_left_url %}
																<a href="{{row_link_left_url}}" target="_blank">
																	<img src="{{row_image_left_url}}" width="300" height="{{row_image_height}}" border="0" alt="" />
																</a>
															{% else %}
																<img src="{{row_image_left_url}}" width="300" height="{{row_image_height}}" border="0" alt="" />
															{% endif %}
														</td>
													</tr>
												</table>
											</td>
											<td class="img mw-20" width="50" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
											<td class="mw-120" width="164">
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td class="img mw-120-i" style="font-size:0pt; line-height:0pt; text-align:left;">
															{% if row_link_right_url %}
																<a href="{{row_link_right_url}}" target="_blank">
																	<img src="{{row_image_right_url}}" width="300" height="{{row_image_height}}" border="0" alt="" />
																</a>
															{% else %}
																<img src="{{row_image_right_url}}" width="300" height="{{row_image_height}}" border="0" alt="" />
															{% endif %}
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- END Buttons -->

<!-- END wb-tx-email-2_i-image-row-half -->