<!-- START wb-tx-email-2_i-image-row -->

				<!-- Header -->
				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left;">
                  {% if row_link_url %}
                    <a href="{{row_link_url}}" target="_blank">
                      <img src="{{row_image_url}}" width="600" height="{{row_image_height}}" border="0" alt="" />
                    </a>
                  {% else %}
                      <img src="{{row_image_url}}" width="600" height="{{row_image_height}}" border="0" alt="" />
                  {% endif %}
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- END Header -->

<!-- END wb-tx-email-2_i-image-row -->