{% assign theme = 'runbet' %}
{% assign header_hero_image_url = 'https://appboy-images.com/appboy/communication/assets/image_assets/images/5bd0ead418bc0a3f46295790/original.jpg?1540418260' %}
{% assign header_hero_image_link_url = '' %}

{{content_blocks.${email-design-1-all-pre-content}}}


<h1 style="text-align: center;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
</h1>

<p class="wbNormalTextCentered">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>
<br/>

<table align="center" border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer wbButtonContainer">
    <tbody>
        <tr>
            <td class="mcnButtonContent wbButtonContent" valign="middle">
                <a class="mcnButton wbButton" href="https://waybetter.com/runbet/games" target="_self" title="">Play</a>
            </td>
        </tr>
    </tbody>
</table>

<h2>Game name or subhead</h2>

<p class="wbNormalTextCentered">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    <a class="wbMembershipColor" href="#">Here is a membership link.</a>
</p>
<br/>

<table align="center" border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer wbButtonContainer wbButtonContainerInverted">
    <tbody>
        <tr>
            <td class="mcnButtonContent wbButtonContent" valign="middle">
                <a class="mcnButton wbButton wbButtonInverted" href="https://waybetter.com/runbet/games" target="_self" title="">Inverted Theme Button</a>
            </td>
        </tr>
    </tbody>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer wbButtonContainer wbButtonContainerMembership">
    <tbody>
        <tr>
            <td class="mcnButtonContent wbButtonContent" valign="middle">
                <a class="mcnButton wbButton" href="https://waybetter.com/membership" target="_self" title="">Membership Button</a>
            </td>
        </tr>
    </tbody>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer wbButtonContainer wbButtonContainerWbGreen">
    <tbody>
        <tr>
            <td class="mcnButtonContent wbButtonContent" valign="middle">
                <a class="mcnButton wbButton" href="https://waybetter.com/" target="_self" title="">WB Green</a>
            </td>
        </tr>
    </tbody>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer wbButtonContainer wbButtonContainerWbGreenInverted">
    <tbody>
        <tr>
            <td class="mcnButtonContent wbButtonContent" valign="middle">
                <a class="mcnButton wbButton wbGreen" href="https://waybetter.com/" target="_self" title="">WB Green Inverted</a>
            </td>
        </tr>
    </tbody>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer wbButtonContainer wbButtonContainerWbCoral">
    <tbody>
        <tr>
            <td class="mcnButtonContent wbButtonContent" valign="middle">
                <a class="mcnButton wbButton" href="https://waybetter.com/" target="_self" title="">WB Coral</a>
            </td>
        </tr>
    </tbody>
</table>


<table align="center" border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer wbButtonContainer wbButtonContainerWbCoralInverted">
    <tbody>
        <tr>
            <td class="mcnButtonContent wbButtonContent" valign="middle">
                <a class="mcnButton wbButton wbCoral" href="https://waybetter.com/" target="_self" title="">WB Coral Inverted</a>
            </td>
        </tr>
    </tbody>
</table>



{{content_blocks.${email-design-1-featured-games-header}}}

{% assign game_id = 133341 %}
{{content_blocks.${dietbet-game-list-item}}}
{% assign game_id = 133343 %}
{{content_blocks.${dietbet-game-list-item}}}
{% assign game_id = 133880 %}
{{content_blocks.${dietbet-game-list-item}}}

{{content_blocks.${email-design-1-team-link}}}

{{content_blocks.${email-design-1-all-post-content}}}