{{content_blocks.${config-vars-1}}}

<p>
<b>Title:</b>
{{content_blocks.${top-social-post-title-1}}}
</p>

<p>
<b>Body:</b>
{{content_blocks.${top-social-post-body-1}}}
</p>

<p>
<b>Deeplink:</b>
<a href="{{content_blocks.${top-social-post-deeplink-1}}}">{{content_blocks.${top-social-post-deeplink-1}}}</a>
</p>
