{{content_blocks.${waybetter-marketing-email-3_stack-all-pre-content}}}

{% assign header_row_image_url = "https://mailpreview.net/54/aaa12327/r651176-e3751363/images/img_1.jpg" %}
{% assign header_row_image_link_url = "https://waybetter.com/games" %}

<table width="600" border="0" cellspacing="0" cellpadding="0" class="m-shell" bgcolor="#ffffff">
	<tr>
		<td class="td" style="width:600px; min-width:600px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">

				{% comment %}
				  Additional code required by template, do not change or remove.
				{% endcomment %}
				{{content_blocks.${waybetter-marketing-email-3_stack-header-row}}}

				<!-- Text -->
				<tr>
					<td class="px-85 pb-30 mpx-30" style="padding-left: 85px; padding-right: 85px; padding-bottom: 30px;">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="title fz-29 lh-35 mfz-26 mlh-30 a-center ff-a pb-20" style="color:#000001; font-size: 29px; line-height: 35px; text-align:center; font-family:Averta, Roboto, Arial, sans-serif; padding-bottom: 20px;">
									Lorem ipsum dolor sit.
								</td>
							</tr>
							<tr>
								<td class="text fz-18 lh-26 mfz-16 mlh-22 a-center pb-20" style="color:#000001; font-family:Roboto, Arial, sans-serif; font-size: 18px; line-height: 26px; text-align:center; padding-bottom: 20px;">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- END Text -->


				{% comment %}
				  First game
				{% endcomment %}
				{% assign game_id = 748 %}
				{{content_blocks.${waybetter-marketing-email-3_stack-game-row}}}

				{% comment %}
				  Second game
				{% endcomment %}
				{% assign game_id = 748 %}
				{{content_blocks.${waybetter-marketing-email-3_stack-game-row}}}

				{% comment %}
				  Third game
				{% endcomment %}
				{% assign game_id = 748 %}
				{{content_blocks.${waybetter-marketing-email-3_stack-game-row}}}


{{content_blocks.${waybetter-marketing-email-3_stack-all-post-content}}}